.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px); /* Crea 5 columnas de 50px cada una */
    grid-gap: 20px 50px; /* Espacio entre los divs */
    background-color: lightgray; /* Color de fondo para el primer grupo */
    padding: 10px; /* Agrega espacio alrededor del contenedor de la cuadrícula */
}

.square {
    width: 50px;
    height: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

/* b. Crear una nueva fila en la que los divs tengan los bordes rectangulares */
.rectangular-border {
    border: 3px solid;
    border-radius: 0;
}

/* c. Crear una nueva fila en la que los divs sean redondos */
.rounded {
    border-radius: 50%;
}

/* d. Añadir un color de fondo distinto a cada grupo de divs */
.grid-container:nth-child(2) {
    background-color: lightblue;
}

/* e. Modificar el puntero en cada uno de los divs */
.square:hover {
    cursor: pointer;
}

/* a. Añadir un borde de 3px a los divs, cada columna debe tener el borde del color de la columna anterior */
.grid-container .square {
    border: 3px solid;
}

/* b. El borde de cada columna debe ser distinto, continuo, a puntos, a rallas... */
.grid-container .square:nth-child(1) {
    border-style: solid;
}

.grid-container .square:nth-child(2) {
    border-style: dotted;
}

.grid-container .square:nth-child(3) {
    border-style: dashed;
}

.grid-container .square:nth-child(4) {
    border-style: double;
}

.grid-container .square:nth-child(5) {
    border-style: groove;
}

.grid-container:last-child .square {
    border-radius: 50%; /* Hace que el borde sea circular */
}
